body {
    margin:8px;
    display: block;
    background-color: #ecf5f5;
}

#mainHeading {
    color: red;
}

.funParagraph {
    color: green;
}

#testP {
    float: left;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

#main-menu {
    background-color: #666699;
    padding-top: 20px;
    padding-bottom: 40px;
}

.top-nav {
    float: right;
    color: #ecf5f5;
    display: block;
}

.nav {
    display: inline;
    padding-right: 20px;
    font-family: 'Bebas Neue', cursive;
}

a:visited {
    color: #ecf5f5;
}

a:hover {
    color: #46a3a3;
}

#heading {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    color: #ecf5f5;
    background-color: #33334c;
}

.main-heading {
    margin: 0px;
    padding-bottom: 5px;
    font-weight: normal;
}

.second-heading {
    margin: 0px;
    padding-bottom: 10px;
    font-weight: normal;
}

.full-width {
    width: 70%;
    margin: auto;
    float: center;
    padding-bottom: 20px;
}

img.book {
    max-width: 200px;
}

.thirds {
    width: 90%;
    margin: auto;
    float: center;
}

.book-listing {
    display: block;
    float: left;
    padding: 33px;
    width: 25%;
}

#footer {
    width: 100%;
    display: inline;
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #666699;
}

.bottom-nav {
    color: #ecf5f5;
}

.fa-brands, .fa-solid {
    color: #ecf5f5;
}

.nav-icon {
    display: inline;
    padding-left: 20px;
}

.copyright {
    float: left;
}

p.copyright {
    color: #ecf5f5;
    padding-left: 20px;
}